<form ref='uploadForm' 
      id='uploadForm' 
      action='http://localhost:3001/api/images/upload' 
      method='post' 
      encType="multipart/form-data">
    <input name="upload" type="file">
    <button type="submit">Submit</button>
</form>