<div class="card-two">
  <h2 class="card-header">Seller Dashboard
  <p>Please enter the information about the product you are selling</p></h2>
  <form id="product-form">
    
  <div class="form-group">
    <label for="name">Name:</label>
    <input name="name" type="text">
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    <textarea name="description" type="text"></textarea>
  </div>

  <div class="form-group">
    <label for="price">Price:</label>
    <input name="price" type="number" step="any">
  </div>

  <div class="form-group">
    <label for="upload">Upload an Image?</label>
    <input name="upload" type="file">
  </div>

  <div class="form-group">
    <button class="btn" type="submit">Submit</button>
  </div>

  </form>

</div>

<section>
  <h2>Listings</h2>
  {{#each products as |product| }}
    {{> product-info product}}
  {{/each}}
</section>
<script src="/javascript/add-product.js"></script>