    <h1><span style="font-size:150px; font-weight:lighter; color:#1cdac7">&#8625;</span>Upcycle<span style="font-size:150px; font-weight:lighter; color:#1cdac7">&#8624;</span>
    <p>The ultimate thrifting experience</p></h1>

<div class="list">
    <div class="handle-list"
    {{#each products as |product| }}
    <article class="list">
        {{> product-info product }}
    </article>
    {{/each}}
</div>
</div>
  
