<p> Where smart thrifters sell and shop</p>
<nav class="navbar">
    <ul>
      <li class="li-inline nav-item"><a href="/">Home</a></li>
      <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
      <!-- Conditionally render login link with UNLESS-->
      {{#unless loggedIn}}
      <li class="li-inline nav-item"><a href="/login">Login</a></li>
      {{/unless}}
      <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>
