:root {
    --primary: gray;
    --secondary: rgb(11, 216, 223);
    --tertiary: #eaf4f4;
    --light-dark: #49e1ee;
    --dark: #0d8888f2;
    --border-radius: 0.3rem;
  }

  
  .navbar {
    display: flex;
    width: 100%;
    position: fixed;
    background-color: var(--primary);
  }

  .nav-item {
    margin: 0 40px;
  }
  
  .nav-item a {
    color: var(--primary);
  }

  body {
    height: 40%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: var(--tertiary);
  }
  
  a {
    color: var(--dark);
    font-size: 3em;
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: gray;
  }
  
  button {
    background-color: gray;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: gray;
  }

  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }

  .signup-form {
    font-size: 1em;
  }