:root {
    --primary: gray;
    --secondary: rgb(11, 216, 223);
    --tertiary: #eaf4f4;
    --light-dark: #1cdac7;
    --dark: #0d8888f2;
    --border-radius: 0.3rem;
  }

  * {
    margin-left: 2px;
  }

  body {
    background-color: rgb(250, 242, 229);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    padding: 7px;
    text-decoration: none;
  }
  
  a {
    color: var(--dark);
    font-weight: bold;
    font-size: 1.8em;
    transition: color .1s;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  a:hover {
    color: var(--primary);
  }
  
  h1 {
    margin-top: 5px;
    font-size: 5em;
    color: var(--dark);
    transition: color .1s;
    font-family: 'Lato', sans-serif;
  }

  h1:hover {
    color: var(--primary);
  }

  h1 p {
    font-family: 'Caveat', cursive;;
    margin-left: 10%;
    margin-top: -20px;
    font-size: 0.4em;
    color: var(--primary);
  }


  /* Cards */
  .card {
    margin-left: 38%;
    font-size: 1.7em;
    margin-top: 75px;
    line-height: 60px;
    color: var(--dark);
    font-family: 'Roboto Condensed', sans-serif;
  }

  .card-header {
    font-size: 2.8em;
    font-family: 'Lato', sans-serif;
    color: var(--dark);
    text-decoration: underline;
    text-decoration-color: var(--light-dark);
  }

  .btn {
    background-color: var(--light-dark);
    color: var(--dark);
    font-size: 1.0em;
    border-radius: 25px;
    border-color: var(--dark);
    font-family: 'Roboto Condensed', sans-serif;
  }

  .instead {
    font-size: 0.6em;
    font-family: 'Roboto Condensed', sans-serif;
  }

  #danger {
    background-color: var(--light-dark);
    color: var(--dark);
    font-size: 0.5em;
    border-radius: 25px;
    border-color: var(--dark);
    font-family: 'Roboto Condensed', sans-serif;
  }

  .card-two {
    max-width: 800px;
    margin-left: 30%;
    line-height: 60px;
    font-size: 1.7em;
    color: var(--dark);
    font-family: 'Roboto Condensed', sans-serif;
  }

  .card-two h2 p {
    font-size: 0.3em;
    text-decoration: none;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
  }



  section h2 {
    text-align: center;
    color: var(--dark);
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: var(--light-dark);
    font-size: 2.0em;
    font-family: 'Roboto Condensed', sans-serif;
  }

  section {
    align-content: center;
  }

  .logo {
    position: fixed;
    top: 5px;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    color: var(--dark);
    left: 85%;
  }

  .logo p {
    font-family: 'Caveat', cursive;;
    margin-left: 25%;
    margin-top: -5px;
    font-size: 0.4em;
    color: var(--primary);
  }